


.body-dpp, .body-anp {
    background-color: #7EC8E3;
}

.wrap-dpp, .container {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
}

.table-dpp {
    margin-top: 4rem;
    margin-left: 24rem;
}

.form-anp {
    margin-top: 4rem;
}

.header-anp{
    margin-top: 2rem;
}